
{% extends "base.html" %}
{% load static %}
{% block title %}
  Index Page
{% endblock title %}
{% block body %}
<h1>Hello, This is the index page</h1>

<h2>Here are your access records:</h2>
<div class="djangotwo">
  {% if access_records %}
    <table>
      <thead>
        <th>Site Name</th>
        <th>Date Accessed</th>
      </thead>
      {% for acc in access_records %}
        <tbody>
          <tr>
            <td>{{acc.name}}</td>
            <td>{{acc.date}}</td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
    {% else %}
    <p>NO ACCESS RECORDS FOUND</p>
  {% endif %}
</div>

<img src="{% static 'images/destination_2.jpg' %}" alt="destination 1">
  
{% endblock body %}